<mat-card [ngClass]="{ 'text-center': !fullWidthMode, 'p-6': true }">
  <div [ngClass]="{ flex: fullWidthMode }">
    <img
      class="mb-1 mx-auto h-[200px]"
      [ngClass]="{ 'h-200px': !fullWidthMode, 'h-[360px]': fullWidthMode }"
      src="https://via.placeholder.com/150"
    />
    <div
      class="w-full"
      [ngClass]="{ 'px-8 flex flex-col justify-between': fullWidthMode }"
    >
      <div>
        <h5>Sapatos</h5>
        <p class="truncate hover:whitespace-normal">Sapatos</p>
        <p *ngIf="fullWidthMode">Descriçao</p>
      </div>
      <div class="flex justify-between">
        <span class="text-red-400">{{ "150" | currency : "R$" }}</span>
        <button>
          <mat-icon (click)="onAddToCart()" class="text-gray-500"
            >shopping_cart</mat-icon
          >
        </button>
      </div>
    </div>
  </div>
</mat-card>
